@{
    ViewBag.Title = "Log in";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from demo.interface.club/limitless/layout_2/LTR/default/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 22 May 2018 07:16:48 GMT -->
<!-- Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Davnor Kaagapay - Login</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    @*<link href="assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
        <link href="assets/css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="assets/css/core.css" rel="stylesheet" type="text/css">
        <link href="assets/css/components.css" rel="stylesheet" type="text/css">
        <link href="assets/css/colors.css" rel="stylesheet" type="text/css">*@

    <link href="~/Interface/admin/assets/css/icons/icomoon/styles.css" rel="stylesheet" />
    <link href="~/Interface/admin/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Interface/admin/assets/css/core.css" rel="stylesheet" />
    <link href="~/Interface/admin/assets/css/components.css" rel="stylesheet" />
    <link href="~/Interface/admin/assets/css/colors.css" rel="stylesheet" />
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    @*<script type="text/javascript" src="assets/js/plugins/loaders/pace.min.js"></script>
        <script type="text/javascript" src="assets/js/core/libraries/jquery.min.js"></script>
        <script type="text/javascript" src="assets/js/core/libraries/bootstrap.min.js"></script>
        <script type="text/javascript" src="assets/js/plugins/loaders/blockui.min.js"></script>*@
    <script src="~/Interface/admin/assets/js/plugins/loaders/pace.min.js"></script>
    <script src="~/Interface/admin/assets/js/core/libraries/jquery.min.js"></script>
    <script src="~/Interface/admin/assets/js/core/libraries/bootstrap.min.js"></script>
    <script src="~/Interface/admin/assets/js/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script type="text/javascript" src="assets/js/plugins/visualization/d3/d3.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/visualization/d3/d3_tooltip.js"></script>
    <script type="text/javascript" src="assets/js/plugins/forms/styling/switchery.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
    <script type="text/javascript" src="assets/js/plugins/ui/moment/moment.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/pickers/daterangepicker.js"></script>

    <script type="text/javascript" src="assets/js/core/app.js"></script>
    <script type="text/javascript" src="assets/js/pages/dashboard.js"></script>

    <script src="~/Interface/admin/assets/js/plugins/visualization/d3/d3.min.js"></script>
    <script src="~/Interface/admin/assets/js/plugins/visualization/d3/d3_tooltip.js"></script>
    <script src="~/Interface/admin/assets/js/plugins/forms/styling/switchery.min.js"></script>
    <script src="~/Interface/admin/assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script src="~/Interface/admin/assets/js/plugins/forms/selects/bootstrap_select.min.js"></script>
    <script src="~/Interface/admin/assets/js/plugins/ui/moment/moment.min.js"></script>
    <script src="~/Interface/admin/assets/js/plugins/pickers/daterangepicker.js"></script>

    <script src="~/Interface/admin/assets/js/core/app.js"></script>
    <script src="~/Interface/admin/assets/js/pages/dashboard.js"></script>
    <!-- /theme JS files -->

</head>

<body class="login-container login-cover">

    <!-- Page container -->
    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">

            <!-- Main content -->
            <div class="content-wrapper">

                <!-- Content area -->
                <div class="content pb-20">

                    <!-- Form with validation -->
                    @* <form action="http://demo.interface.club/limitless/layout_2/LTR/default/index.html" class="form-validate">*@
                    <form action="~/Administrator/SignIn" id="sign_in" method="POST">

                        <div class="panel panel-body login-form">
                            <div class="text-center">
                                <div class=" border-slate-300 text-slate-300">
                                    @*<i class="icon-reading"icon-object></i>*@
                                    <img src="~/Interface/images/kaagapay-logo.png" width="250" height="100" />
                                </div>
                                <h5 class="content-group">Login to your account <small class="display-block">Your credentials</small></h5>
                            </div>

                            <div class="form-group has-feedback has-feedback-left">
                                <input type="text" class="form-control" placeholder="Username" name="uname" required="required">
                                <div class="form-control-feedback">
                                    <i class="icon-user text-muted"></i>
                                </div>
                            </div>
                            <div class="form-group has-feedback has-feedback-left">
                                <input type="password" class="form-control" placeholder="Password" name="upass" required="required">
                                <div class="form-control-feedback">
                                    <i class="icon-lock2 text-muted"></i>
                                </div>
                            </div>
                            <p class="bg-warning center">@Html.ValidationMessage("", new { id = "ErrorMessage" })</p>
                            <div class="form-group">
                                <button type="submit" class="btn bg-blue btn-block">Login</button>
                                @* <button type="submit" class="btn bg-blue btn-block">Login <i class="icon-arrow-right14 position-right"></i></button>*@
                            </div>
                            <div class="text-center">
                                <a href="#" onclick="r()">Sign up</a>
                            </div>
                        </div>
                    </form>
                    <form action="~/Administrator/RegisterAccount" id="reg" method="POST">
                        <div class="panel panel-body login-form">
                            <div class="text-center">
                                <div class="icon-object border-success text-success"><i class="icon-plus3"></i></div>
                                <h5 class="content-group">Create account <small class="display-block">All fields are required</small></h5>
                            </div>

                            <div class="content-divider text-muted form-group"><span>Your credentials</span></div>

                            <div class="form-group has-feedback has-feedback-left">
                                <input type="text" class="form-control" name="uname" placeholder="Username" required>
                                <div class="form-control-feedback">
                                    <i class="icon-user-check text-muted"></i>
                                </div>
                            </div>
                            <div class="form-group has-feedback has-feedback-left">
                                <input type="text" class="form-control" name="name" placeholder="Full Name (Andrew L. Baltazar)" required>
                                <div class="form-control-feedback">
                                    <i class="icon-user-lock text-muted"></i>
                                </div>
                            </div>
                            <div class="form-group has-feedback has-feedback-left">
                                <input type="number" class="form-control" min="11" name="contact" placeholder="Contact Number" required>
                                <div class="form-control-feedback">
                                    <i class="icon-user-lock text-muted"></i>
                                </div>
                            </div>
                            <div class="content-divider text-muted form-group"><span>Your privacy</span></div>

                            <div class="form-group has-feedback has-feedback-left">
                                <input type="password" class="form-control" placeholder="Your Password" name="upass" id="pw" onkeyup="c()" autocomplete="off" required>
                                <div class="form-control-feedback">
                                    <i class="icon-lock2 text-muted"></i>
                                </div>
                            </div>

                            <div class="form-group has-feedback has-feedback-left">
                                <input type="password" class="form-control" placeholder="Confrim Password" name="cPass" id="cpw" onkeyup="c()" autocomplete="off" required>
                                <div class="form-control-feedback">
                                    <i class="icon-lock2 text-muted"></i>
                                </div>
                            </div>

                            <div class="content-divider text-muted form-group"><span>Additions</span></div>
                            <button type="submit" class="btn bg-teal btn-block btn-lg" id="su">Register <i class="icon-circle-right2 position-right"></i></button>
                        </div>
                    </form>
                    <!-- /form with validation -->

                </div>
                <!-- /content area -->

            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->

    </div>
    <!-- /page container -->

</body>

<!-- Mirrored from demo.interface.club/limitless/layout_2/LTR/default/login_validation.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 22 May 2018 08:02:39 GMT -->
</html>
<script>
    function r() {
        $("#sign_in").hide();
        $("#reg").show();
    }
    function l() {
        $("#reg").hide();
        $("#sign_in").show();
    }
    render()
    function render() {
        $("#reg").hide();
        $("#sign_in").show();
    }
    function c() {
        if ($("#pw").val() == $("#cpw").val()) {
            $("#su").prop("disabled", false);
            if (a = 1) {
                $("#conf").remove();
                a = 0;
            }
        }
        else {
            $("#su").prop("disabled", true);
            if (a == 0) {

                $("#vali").append("<small id='conf'>Passwords does not match!</small>")
                a = 1;
            }
        }
    }
    </script>
